{% extends 'base.html.twig' %}

{% block title %}TypeCuisine{% endblock %}

{% block body %}
    <h1>TypeCuisine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_cuisine.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ type_cuisine.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ type_cuisine.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ type_cuisine.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_cuisine_index') }}">back to list</a>

    <a href="{{ path('type_cuisine_edit', {'id': type_cuisine.id}) }}">edit</a>

    {{ include('type_cuisine/_delete_form.html.twig') }}
{% endblock %}
