{% extends 'base.html.twig' %}

            {% block title %}Nouvelle reservation - Domi'Licious{% endblock %}

        {% block body %}

        
  
    <div id="page-content" class="archives-page">
		<div class="container">
			<div class="row">
                <div id="main-content" class="col-md-12">
					<article class="contact">
						<div class="art-content">
                            <h1 class="text-center">Réservation</h1>
                            <h3>Votre Menu</h3>
                                <div class="container">
                                    <img src="{{ asset('uploads/images/chefs/') }}{{ booking.menu.image }}" class="img-thumbnail photo-res">
                                        <ul>
                                            <li><strong>Entrée :<br>
                                            </strong>{{ booking.menu.entree }}</li>
                                            <li><strong>Plat :<br>
                                            </strong>{{ booking.menu.plat }}</li>
                                            <li><strong>Dessert :<br>
                                            </strong>{{ booking.menu.dessert }}</li>
                                        </ul>
                                </div>
                            <h3>Votre Chef</h3>
                                <div class="container">
                                    <p>{{ booking.menu.chef.prenom}} {{ booking.menu.chef.nom }}</p>
                                    <img src="{{ asset('uploads/images/chefs/') }}{{ booking.menu.chef.image }}" class="img-thumbnail">
                                </div>
                            <h3>Tarif</h3>
                                <p>{{ booking.menu.price }} &euro;</p>
                                    {{ include('booking/_form.html.twig') }}
                                <a href="{{ path('menu_index') }}">Retour</a>
                                {# <a href="{{ path('booking_calendar') }}">Voir le calendrier</a>#}
						</div>
					</article>
                </div>
            </div>
        </div>
    </div>
                


        
        {% endblock %}
       
