{% extends 'base.html.twig' %}

{% block title %}Domi'Licious, votre chef à domicile!{% endblock %}

{% block body %}

<header id="intro">
			
    <div class="intro">
    <!-- Carousel -->
    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			    <div class="item active">
			    	<img src="{{ asset('images/spice-370114_1920.jpg')}}" alt="First slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>Bienvenue chez Domi'Licious</h2>  
                        </div>
                    </div><!-- /header-text -->
			    </div>
			    <div class="item">
			    	<img src="{{ asset('images/mediterranean-cuisine-2378758_1920.jpg')}}" alt="Second slide">
			    	<!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>Nos chefs expérimentés</h2>  
                        </div>
                    </div><!-- /header-text -->
			    </div>
			    <div class="item">
			    	<img src="{{ asset('images/food-1209503_1920.jpg')}}" alt="Third slide">
			    	<!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>Nos menus d'exception</h2>
                        </div>
                        </div>
                    </div><!-- /header-text -->
			    </div>
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="{{ asset('#carousel-example-generic')}}" data-slide="prev">
		    	<!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
			</a>
			<a class="right carousel-control" href="{{ asset('#carousel-example-generict')}}" data-slide="next">
		    	<!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
			</a>
		</div><!-- /carousel -->

        </header>

    <div class="intro">
      <h1> Bienvenue sur Domi'Licious </h1>
        <p>
            LE FAIT MAISON N'A JAMAIS AUSSI BIEN PORTÉ SON NOM !
           <br>
           DomiLicious vous offre l'opportunité d'un repas haut de gamme 
           « servi à la maison » vous laissant ainsi du temps pour profiter de vos
            convives.
        </p>
    </div>    
            <hr>
            <hr>
    
         <div class="intro2">
               <h6>Découvrer nos chefs et leurs menus à thème.</h6>   
              <p>
                Les chefs sont tous des amoureux du bon produit et travaillent étroitement
                avec des producteurs et artisans de votre région. Ils mettent un point d'honneur
                à mettre en valeur
                la richesse des produits de saison des marchés parisiens.<br>
                Profitez enfin de vos convives et organisez en quelques clics un repas
                gastronomique préparé directement dans votre cuisine !<br> 
                Repas servi à l'assiette, brunch revisité ou encore cours de cuisine 
                thématique... les chefs vous proposent de réserver directement en ligne une prestation gourmande sur leurs profils.
                Préparez vos papilles ...
             </p>
         </div>
         <hr>
         <div class="bots">
           <div class="firstphoto">
                  <a href="#"><img src="{{ asset('images/malva-pudding.jpg')}}" /></a>
           </div>
           <div class="sidebar">
                <p>
                      <h6>A découvrir aussi...</h6>
                    <br>
                    <br>
                        HISTOIRE DE CHEFS
                    <br>

                        À chaque recette les chefs se livrent avec plus ou moins de sincérité, certains ne pouvant s’empêcher de placer un peu de promotion…
                        <br>
                        D’autres en revanche, comme Camelia Sanchez nous parlent de leur enfance et de cette envie profonde
                         qu’ils ont
                        toujours eu d’être cuisinier. Chef Henry Dupond exprime avec transparence le 
                        besoin de s’entourer de la jeune génération pour ne jamais cesser d’avancer,
                         exprimant avec humilité la remise en cause qu’exige en permanence le métier.
                        <br>
                         Exprimant au passage ses nouveaux sujets de réflexion et son envie profonde
                         d’associer les traditions et la modernité de l’époque.
                        <br>
                        <div class="livres">
                         <a href="#"><img src="{{ asset('images/nos-chefs.jpg')}}" /></a>
                         <a href="#"><img src="{{ asset('images/nos-chefs2.jpg')}}" /></a>
                         <a href="#"><img src="{{ asset('images/nos-chefs3.jpg')}}" /></a>
                         <a href="#"><img src="{{ asset('images/nos-chefs4.jpg')}}" /></a>
                        </div>
                </p>
           
           </div>


         </div>       
               

{% endblock %}
